---
title: "Medcity - Template Médico"
layout: "../layouts/default.astro"

import '/src/all.css';
import '/src/libraries.css';
import '/src/style.css';
---

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Medcity - Medical Healthcare HTML5 Template">
  <link href="../assets/images/favicon/favicon.png" rel="icon">
  <title>Medcity - Medical Healthcare HTML5 Template</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=medication_liquid" />
  <script src="https://kit.fontawesome.com/29354132f5.js" crossorigin="anonymous"></script>
  

  
  <link rel="stylesheet" href="/css/libraries.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/all.css">
</head>

<body>
  <div class="wrapper">
    <div class="preloader">
      <div class="loading"><span></span><span></span><span></span><span></span></div>
    </div><!-- /.preloader -->

    <!-- =========================
        Header
    =========================== -->
    <header class="header header-layout1">
      <div class="header-topbar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="d-flex align-items-center justify-content-between">
                <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
                  <li>
                    <button class="miniPopup-emergency-trigger" type="button">Emergencia 24/7</button>
                    <div id="miniPopup-emergency" class="miniPopup miniPopup-emergency text-center">
                      <div class="emergency__icon">
                        <i class="icon-call3"></i>
                      </div>
                      <a href="tel:+201061245741" class="phone__number">
                        <i class="fa fa-phone-square"></i> <span>+2 01061245741</span>
                      </a>
                      <p>No dude en ponerse en contacto con nuestro personal de recepción para cualquier consulta general o médica.
                      </p>
                      <a href="appointment.html" class="btn btn__secondary btn__link btn__block">
                        <span>Agendar Cita</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </a>
                    </div><!-- /.miniPopup-emergency -->
                  </li>
                  <li>
                    <i class="fa fa-phone-square"></i><a href="tel:+5565454117">Numero de Emergencia: (002) 01061245741</a>
                  </li>
                  <li>
                    <i class="fa fa-location-arrow"></i><a href="#">Locacion: Lima, Perú</a>
                  </li>
                  <li>
                    <i class="fa fa-clock-o"></i><a href="contact-us.html">Lun - Vir: 8:00 am - 22:00 pm</a>
                  </li>
                </ul><!-- /.contact__list -->
                <div class="d-flex">
                  <ul class="social-icons list-unstyled mb-0 mr-30">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                  <form class="header-topbar__search">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <button class="header-topbar__search-btn"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </div>
            </div><!-- /.col-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.header-top -->
      <nav class="navbar navbar-expand-lg stic  ky-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src=`${import.meta.env.BASE_URL}/imagen/logo-light.png` class="logo-light" alt="logo">
            <img src=`${import.meta.env.BASE_URL}/imagen/logo-dark.png` class="logo-dark" alt="logo">
          </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item has-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link active">Inicio</a>
                <ul class="dropdown-menu">
                  <li class="nav__item">
                    <a href="index.html" class="nav__item-link">Home Main</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="home-modern.html" class="nav__item-link">Home Modern</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="home-classic.html" class="nav__item-link">Home Classic</a> 
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="home-dentist.html" class="nav__item-link">Home Dentist</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="home-pharmacy.html" class="nav__item-link">Home pharmacy</a>
                  </li><!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Nosotros</a>
                <ul class="dropdown-menu">
                  <li class="nav__item">
                    <a href="about-us.html" class="nav__item-link">About Us</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="services.html" class="nav__item-link">Our Services</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="services-single.html" class="nav__item-link">single Services</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="pricing.html" class="nav__item-link">Pricing & Plans</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="appointment.html" class="nav__item-link">Appointments</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="faqs.html" class="nav__item-link">Help & FAQs</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="gallery.html" class="nav__item-link">Our Gallery</a>
                  </li><!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Doctores</a>
                <ul class="dropdown-menu">
                  <li class="nav__item">
                    <a href="doctors-timetable.html" class="nav__item-link">Doctors Timetable</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="doctors-standard.html" class="nav__item-link">Our Doctors Standard</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="doctors-modern.html" class="nav__item-link">Our Doctors Modern</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="doctors-grid.html" class="nav__item-link">Our Doctors Grid</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="doctors-single-doctor1.html" class="nav__item-link">Single Doctor 01</a>
                  </li> <!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="doctors-single-doctor2.html" class="nav__item-link">Single Doctor 02</a>
                  </li> <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Blog</a>
                <ul class="dropdown-menu">
                  <li class="nav__item">
                    <a href="blog.html" class="nav__item-link">Blog Grid</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="blog-single-post.html" class="nav__item-link">Single Blog Post</a>
                  </li><!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Tienda</a>
                <ul class="dropdown-menu">
                  <li class="nav__item">
                    <a href="shop.html" class="nav__item-link">Our Products</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="shop-single-product.html" class="nav__item-link">Products Single</a>
                  </li><!-- /.nav-item -->
                  <li class="nav__item">
                    <a href="cart.html" class="nav__item-link">Cart</a>
                  </li><!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="contact-us.html" class="nav__item-link">Contactos</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
            <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
          </div><!-- /.navbar-collapse -->
          <div class="d-none d-xl-flex align-items-center position-relative ml-30">
            <div class="miniPopup-departments-trigger">
              <span class="menu-lines" id="miniPopup-departments-trigger-icon"><span></span></span>
              <a href="departments.html">Departamentos</a>
            </div>
            <ul id="miniPopup-departments" class="miniPopup miniPopup-departments dropdown-menu">
              <li class="nav__item">
                <a href="department-single.html" class="nav__item-link">Neurologia</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="department-single.html" class="nav__item-link">Cardiologia</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="department-single.html" class="nav__item-link">Patologia</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="department-single.html" class="nav__item-link">Laboratorio</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="department-single.html" class="nav__item-link">Pediatria</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="department-single.html" class="nav__item-link">Cardiologia</a>
              </li><!-- /.nav-item -->
            </ul> <!-- /.miniPopup-departments -->
            <a href="appointment.html" class="btn btn__primary btn__rounded ml-30">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span>Cita</span>
            </a>
          </div>
        </div><!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->

    <!-- ============================
        Slider
    ============================== -->
    <section class="slider">
      <div class="slick-carousel m-slides-0"
        data-slick='{"slidesToShow": 1, "arrows": true, "dots": false, "speed": 700,"fade": true,"cssEase": "linear"}'>
        <div class="slide-item align-v-h">
          <div class="bg-img"><img src=`${import.meta.env.BASE_URL}/imagen/slider/1slider.jpg` alt="slide img"></div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide__content">
                  <h2 class="slide__title">Brindando la mejor atención médica</h2>
                  <p class="slide__desc">La salud y el bienestar de nuestros pacientes y su equipo de salud siempre será nuestra prioridad, 
                    por lo que seguimos las mejores prácticas de limpieza.</p>
                  <ul class="features-list list-unstyled mb-0 d-flex flex-wrap">
                    <!-- feature item #1 -->
                    <li class="feature-item">
                      <div class="feature__icon">
                        <i class="fa fa-stethoscope" aria-hidden="true"></i>
                      </div>
                      <h2 class="feature__title">Examinacion</h2>
                    </li><!-- /.feature-item-->
                    <!-- feature item #2 -->
                    <li class="feature-item">
                      <div class="feature__icon">
                        <i class="fa-solid fa-prescription-bottle"></i>
                      </div>
                      <h2 class="feature__title">Prescripción </h2>
                    </li><!-- /.feature-item-->
                    <!-- feature item #3 -->
                    <li class="feature-item">
                      <div class="feature__icon">
                        <i class="fa-solid fa-hand-holding-heart"></i>
                      </div>
                      <h2 class="feature__title">Cardiograma</h2>
                    </li><!-- /.feature-item-->
                    <!-- feature item #4 -->
                    <li class="feature-item">
                      <div class="feature__icon">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                      </div>
                      <h2 class="feature__title">Presión arterial</h2>
                    </li><!-- /.feature-item-->
                  </ul><!-- /.features-list -->
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h">
          <div class="bg-img"><img src=`${import.meta.env.BASE_URL}/imagen/slider/2slider.jpg` alt="slide img"></div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide__content">
                  <h2 class="slide__title">Brindando la mejor atención médica</h2>
                  <p class="slide__desc">La salud y el bienestar de nuestros pacientes y 
                    su equipo de salud siempre será nuestra prioridad, por lo que seguimos las mejores prácticas de limpieza.</p>
                  <ul class="features-list list-unstyled mb-0 d-flex flex-wrap">
                    <!-- feature item #1 -->
                    <li class="feature-item">
                      <div class="feature__icon">
                        <i class="fa fa-stethoscope" aria-hidden="true"></i>
                      </div>
                      <h2 class="feature__title">Examinacion</h2>
                    </li><!-- /.feature-item-->
                    <!-- feature item #2 -->
                    <li class="feature-item">
                      <div class="feature__icon">
                        <i class="icon-medicine"></i>
                      </div>
                      <h2 class="feature__title">Prescripción </h2>
                    </li><!-- /.feature-item-->
                    <!-- feature item #3 -->
                    <li class="feature-item">
                      <div class="feature__icon">
                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                      </div>
                      <h2 class="feature__title">Cardiograma</h2>
                    </li><!-- /.feature-item-->
                    <!-- feature item #4 -->
                    <li class="feature-item">
                      <div class="feature__icon">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                      </div>
                      <h2 class="feature__title">Presión arterial</h2>
                    </li><!-- /.feature-item-->
                  </ul><!-- /.features-list -->
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
      </div><!-- /.carousel -->
    </section><!-- /.slider -->

    <!-- ============================
        contact info
    ============================== -->
    <section class="contact-info py-0">
      <div class="container">
        <div class="row row-no-gutter boxes-wrapper">
          <div class="col-sm-12 col-md-4">
            <div class="contact-box d-flex">
              <div class="contact__icon">
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
              </div><!-- /.contact__icon -->
              <div class="contact__content">
                <h2 class="contact__title">Casos de emergencia</h2>
                <p class="contact__desc">No dude en contactar con nuestro personal de recepción si tiene alguna consulta general o médica.</p>
                <a href="tel:+201061245741" class="phone__number">
                  <i class="fa fa-phone-square"></i> <span>01061245741</span>
                </a>
              </div><!-- /.contact__content --> 
            </div><!-- /.contact-box -->
          </div><!-- /.col-md-4 -->
          <div class="col-sm-12 col-md-4">
            <div class="contact-box d-flex">
              <div class="contact__icon">
                <i class="fa fa-user-md" aria-hidden="true"></i>
              </div><!-- /.contact__icon -->
              <div class="contact__content">
                <h2 class="contact__title">Horario de los doctores</h2>
                <p class="contact__desc">Médicos calificados disponibles seis días a la semana. Consulte nuestro horario para programar una cita.</p>
                <a href="doctors-timetable.html" class="btn btn__white btn__outlined btn__rounded">
                  <span>Ver Horarios</span><i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div><!-- /.contact__content -->
            </div><!-- /.contact-box -->
          </div><!-- /.col-md-4 -->
          <div class="col-sm-12 col-md-4">
            <div class="contact-box d-flex">
              <div class="contact__icon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div><!-- /.contact__icon -->
              <div class="contact__content">
                <h2 class="contact__title">Hora de Atencion</h2>
                <ul class="time__list list-unstyled mb-0">
                  <li><span>Lunes - Viernes</span><span>8.00 - 10:00 pm</span></li>
                  <li><span>Sabado</span><span>9.00 - 10:00 pm</span></li>
                  <li><span>Domingo</span><span>10.00 - 12:00 pm</span></li>
                </ul>
              </div><!-- /.contact__content -->
            </div><!-- /.contact-box -->
          </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.contact-info -->

    <!-- ========================
      About Layout 2
    =========================== -->
    <section class="about-layout2 pb-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-1">
            <div class="heading-layout2">
              <h3 class="heading__title mb-60">Mejorando la calidad de su vida <br> a través de una mejor salud.</h3>
            </div><!-- /heading -->
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="text-with-icon">
              <div class="text__icon">
                <i class="fa fa-user-md" aria-hidden="true"></i>
              </div>
              <div class="text__content">
                <p class="heading__desc font-weight-bold color-secondary mb-30">Nuestro objetivo es brindar atención de calidad con cortesía, respeto y compasión. 
                  Esperamos que nos permita atenderle y nos esforzamos por ser su primera y mejor opción en atención médica.
                </p>
                <a href="doctors-timetable.html" class="btn btn__secondary btn__rounded mb-70">
                  <span>Encontrar un doctor</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="video-banner-layout2 bg-overlay">
              <img src=`${import.meta.env.BASE_URL}/imagen/about.jpg` alt="about" class="w-100">
              <a class="video__btn video__btn-white popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                <div class="video__player">
                  <i class="fa fa-play"></i>
                </div>
                <span class="video__btn-title color-white">¡Mira nuestro vídeo!</span>
              </a>
            </div><!-- /.video-banner -->
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="about__text bg-white">
              <p class="heading__desc mb-30">Nuestro objetivo es brindar atención de calidad con cortesía, respeto y compasión. 
                Esperamos que nos permita atenderle y ser su primera y mejor opción en atención médica.
              </p>
              <p class="heading__desc mb-30">Trabajaremos con usted para desarrollar planes de atención individualizados, incluyendo el manejo de enfermedades crónicas. 
                Nos comprometemos a ser la red de atención médica líder en la región, brindando atención centrada en el paciente que inspira excelencia clínica y de servicio.</p>
              <ul class="list-items list-unstyled">
                <li>Realizamos una serie de pruebas para ayudarnos a determinar por qué no se siente bien y 
                  determinar el tratamiento adecuado para usted.</li>
                <li>Nuestros médicos, enfermeras y 
                  profesionales de la salud expertos atienden a pacientes con una amplia gama de problemas médicos.
                </li>
                <li>Ofrecemos una amplia gama de atención y 
                  apoyo a nuestros pacientes, desde el diagnóstico hasta el tratamiento y la rehabilitación.
                </li>
              </ul>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->

    <!-- ========================
        Services Layout 1
    =========================== -->
    <section class="services-layout1 services-carousel">
      <div class="bg-img"><img src=`${import.meta.env.BASE_URL}/imagen/background.jpg` alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading text-center mb-60">
              <h2 class="heading__subtitle">¡La mejor atención médica y de práctica general!</h2>
              <h3 class="heading__title">Proporcionando atención médica a los más enfermos de nuestra comunidad.</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
              <!-- service item #1 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fa-solid fa-head-side-virus"></i>
                  <i class="fa-solid fa-head-side-virus"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Neurologia</h4>
                  <p class="service__desc">Algunos neurólogos reciben formación de subespecialidad centrada en un área específica de sus campos. 
                    Estos programas de formación se denominan becas y tienen una duración de uno a dos años.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Cuidados neurocríticos</li>
                    <li>Neurooncología</li>
                    <li>Neurología geriátrica</li>
                  </ul>
                  <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Leer mas</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
              <!-- service item #2 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fa-solid fa-hand-holding-heart"></i>  
                  <i class="fa-solid fa-hand-holding-heart"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Cardiologia</h4>
                  <p class="service__desc">Todos los cardiólogos estudian los trastornos del corazón, pero los especialistas en enfermedades 
                    cardíacas en adultos y niños están capacitados para atender enfermedades cardíacas en niños pequeños y adultos.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Cuidados neurocríticos</li>
                    <li>Neurooncología</li>
                    <li>Neurología geriátrica</li>
                  </ul>
                  <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Leer mas</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
              <!-- service item #3 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fa-solid fa-microscope"></i>
                  <i class="fa-solid fa-microscope"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Patologia</h4>
                  <p class="service__desc">La patología es el estudio de las enfermedades; es el puente entre la ciencia y la medicina.
                    Además, sustenta todos los aspectos de la atención al paciente, desde las pruebas diagnósticas hasta el tratamiento.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Patología quirúrgica</li>
                    <li>Histopatología</li>
                    <li>Citopatología </li>
                  </ul>
                  <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Leer mas</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
              <!-- service item #4 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fa-solid fa-vial"></i>
                  <i class="fa-solid fa-vial"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Laboratorio</h4>
                  <p class="service__desc">Análisis de las concentraciones de radón o de su progenie 
                    con dispositivos pasivos, o la calibración de dispositivos de medición de radón o de su progenie.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Cuidado del recién nacido</li>
                    <li>Apariencia del cordón umbilical </li>
                    <li>Técnicas de reposicionamiento</li>
                  </ul>
                  <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Leer Mas</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
              <!-- service item #5 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fa-solid fa-baby"></i>
                  <i class="fa-solid fa-baby"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Pediatria</h4>
                  <p class="service__desc">Los pediatras atienden a pacientes desde su nacimiento hasta la edad adulta temprana 
                    para garantizar que los niños se mantengan sanos. Nuestra atención incluye chequeos médicos preventivos.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Laboratorio clínico</li>
                    <li>Analista de investigación</li>
                    <li>Seguro de calidad</li>
                  </ul>
                  <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Leer mas</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
              <!-- service item #6 -->
              <div class="service-item">
                <div class="service__icon">
                  <i class="fa fa-heartbeat" aria-hidden="true"></i>
                  <i class="fa fa-heartbeat" aria-hidden="true"></i>
                </div><!-- /.service__icon -->
                <div class="service__content">
                  <h4 class="service__title">Cardiaca</h4>
                  <p class="service__desc">Para las personas que requieren seguimiento adicional, la Clínica Cardíaca ofrece acceso 
                    rápido a profesionales especializados en el diagnóstico y tratamiento de enfermedades cardíacas.
                  </p>
                  <ul class="list-items list-items-layout1 list-unstyled">
                    <li>Degeneración macular</li>
                    <li>Retinopatía diabética</li>
                    <li>Lagrimeo excesivo</li>
                  </ul>
                  <a href="services-single.html" class="btn btn__secondary btn__outlined btn__rounded">
                    <span>Leer mas</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.service__content -->
              </div><!-- /.service-item -->
            </div>
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Services Layout 1 -->

    <!-- ========================
        Notses
    =========================== -->
    <section class="notes border-top pt-60 pb-60">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="note font-weight-bold">
              <i class="far fa-file-alt color-primary"></i>
              <span>Ofreciendo la atención sanitaria del futuro para su familia.</span>
              <a href="doctors-timetable.html" class="btn btn__link btn__secondary">
                <span>Ver el horario de los nuevos médicos</span><i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div><!-- /.col-sm-6 -->
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="info__meta d-flex flex-wrap justify-content-between align-items-center">
              <div class="testimonials__rating">
                <div class="testimonials__rating-inner d-flex align-items-center">
                  <span class="total__rate">4.9</span>
                  <div>
                    <span class="overall__rate">Calificación general de Zocdoc</span>
                    <span>, basado en 7541 reseñas.</span>
                  </div>
                </div><!-- /.testimonials__rating-inner -->
              </div><!-- /.testimonials__rating -->
              <a href="appointment.html" class="btn btn__primary btn__rounded">
                <span>Agendar Cita</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div><!-- /.info__meta -->
          </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.notes -->

    <!-- ======================
    Features Layout 2
    ========================= -->
    <section class="features-layout2 pt-130 bg-overlay bg-overlay-primary">
      <div class="bg-img"><img src=`${import.meta.env.BASE_URL}/imagen/background.jpg` alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-1">
            <div class="heading__layout2 mb-50">
              <h3 class="heading__title color-white">Medcity ha impactado la vida de los pacientes y
                 brindado atención a los más enfermos de nuestra comunidad.</h3>
            </div>
          </div><!-- /col-lg-5 -->
        </div><!-- /.row -->
        <div class="row mb-100">
          <div class="col-sm-3 col-md-3 col-lg-1 offset-lg-5">
            <div class="heading__icon">
              <i class="fa-solid fa-shield-heart"></i>
            </div>
          </div><!-- /.col-lg-5 -->
          <div class="col-sm-9 col-md-9 col-lg-6">
            <p class="heading__desc font-weight-bold color-white mb-30">Medcity está presente en Europa desde 1990, ofreciendo soluciones innovadoras y especializándose en servicios médicos para el tratamiento de infraestructuras sanitarias. Con más de 100 profesionales, 
              participa activamente en numerosas iniciativas destinadas a generar un cambio sostenible para los pacientes.
            </p>
            <a href="#" class="btn btn__white btn__link">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span>Nuestros valores fundamentales</span>
            </a>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- Feature item #1 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__img">
                <img src=`${import.meta.env.BASE_URL}/imagen/servicies/services1.jpg` alt="service" loading="lazy">
              </div><!-- /.feature__img -->
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="fa fa-heartbeat" aria-hidden="true"></i>
                </div>
                <h4 class="feature__title">Consejos médicos y chequeos</h4>
              </div><!-- /.feature__content -->
              <a href="#" class="btn__link">
                <i class="fa fa-arrow-right icon-outlined"></i>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #2 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__img">
                <img src=`${import.meta.env.BASE_URL}/imagen/servicies/services2.jpg` alt="service" loading="lazy">
              </div><!-- /.feature__img -->
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="fa fa-user-md" aria-hidden="true"></i>
                </div>
                <h4 class="feature__title">Tratamiento médico de confianza </h4>
              </div><!-- /.feature__content -->
              <a href="#" class="btn__link">
                <i class="fa fa-arrow-right icon-outlined" aria-hidden="true"></i>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__img">
                <img src=`${import.meta.env.BASE_URL}/imagen/servicies/services3.jpg` alt="service" loading="lazy">
              </div><!-- /.feature__img -->
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="fa fa-ambulance" aria-hidden="true"></i>
                </div>
                <h4 class="feature__title">Ayuda de emergencia disponible 24/7</h4>
              </div><!-- /.feature__content -->
              <a href="#" class="btn__link">
                <i class="fa fa-arrow-right icon-outlined"></i>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #4 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__img">
                <img src=`${import.meta.env.BASE_URL}/imagen/servicies/services4.jpg` alt="service" loading="lazy">
              </div><!-- /.feature__img -->
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="fa-solid fa-capsules"></i>
                </div>
                <h4 class="feature__title">Profesionales de la investigación médica </h4>
              </div><!-- /.feature__content -->
              <a href="#" class="btn__link">
                <i class="fa fa-arrow-right icon-outlined"></i>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #5 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__img">
                <img src=`${import.meta.env.BASE_URL}/imagen/servicies/services5.jpg` alt="service" loading="lazy">
              </div><!-- /.feature__img -->
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="fa fa-medkit" aria-hidden="true"></i>
                </div>
                <h4 class="feature__title">Sólo médicos calificados</h4>
              </div><!-- /.feature__content -->
              <a href="#" class="btn__link">
                <i class="fa fa-arrow-right icon-outlined"></i>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #6 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__img">
                <img src=`${import.meta.env.BASE_URL}/imagen/servicies/services6.jpg` alt="service" loading="lazy">
              </div><!-- /.feature__img -->
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="fa fa-hospital-o" aria-hidden="true"></i>
                </div>
                <h4 class="feature__title">Instalación de vanguardia</h4>
              </div><!-- /.feature__content -->
              <a href="#" class="btn__link">
                <i class="fa fa-arrow-right icon-outlined"></i>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #7 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__img">
                <img src=`${import.meta.env.BASE_URL}/imagen/servicies/services7.jpg` alt="service" loading="lazy">
              </div><!-- /.feature__img -->
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="fa-solid fa-file-invoice-dollar"></i>
                </div>
                <h4 class="feature__title">Precios asequibles para todos los pacientes</h4>
              </div><!-- /.feature__content -->
              <a href="#" class="btn__link">
                <i class="icon-arrow-right icon-outlined"></i>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
          <!-- Feature item #8 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="feature-item">
              <div class="feature__img">
                <img src=`${import.meta.env.BASE_URL}/imagen/servicies/services7.jpg` alt="service" loading="lazy">
              </div><!-- /.feature__img -->
              <div class="feature__content">
                <div class="feature__icon">
                  <i class="fa-solid fa-bandage"></i>
                </div>
                <h4 class="feature__title">Atención de calidad para cada paciente</h4>
              </div><!-- /.feature__content -->
              <a href="#" class="btn__link">
                <i class="icon-arrow-right icon-outlined"></i>
              </a>
            </div><!-- /.feature-item -->
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-12 col-lg-6 offset-lg-3 text-center">
            <p class="font-weight-bold color-gray mb-0">Esperamos que nos permita cuidar de usted y 
              nos esforzamos por ser la primera y mejor opción en atención médica.
              <a href="#" class="color-secondary">
                <span>Contáctenos para más información</span> <i class="icon-arrow-right"></i>
              </a>
            </p>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Features Layout 2 -->

    <!-- ======================
      Team
    ========================= -->
    <section class="team-layout2 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading text-center mb-40">
              <h3 class="heading__title">Conozca a nuestros médicos</h3>
              <p class="heading__desc">Nuestro personal administrativo y de apoyo cuenta con excepcionales 
                habilidades interpersonales y está capacitado para ayudarle con todas sus consultas médicas.
              </p>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
              <!-- Member #1 -->
              <div class="member">
                <div class="member__img">
                  <img src=`${import.meta.env.BASE_URL}/imagen/team/team1.jpg` alt="member img">
                </div><!-- /.member-img -->
                <div class="member__info">
                  <h5 class="member__name"><a href="doctors-single-doctor1.html">Mike Dooley</a></h5>
                  <p class="member__job">Especialista en Cardiología</p>
                  <p class="member__desc">Muldoone obtuvo su licenciatura en Ingeniería Biomédica en la Universidad de Tulane antes de asistir a la 
                    Facultad de Medicina de la Universidad de St. George.</p>
                  <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                    <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                      <span>Leer mas</span>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                    <ul class="social-icons list-unstyled mb-0">
                      <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div>
                </div><!-- /.member-info -->
              </div><!-- /.member -->
              <!-- Member #2 -->
              <div class="member">
                <div class="member__img">
                  <img src=`${import.meta.env.BASE_URL}/imagen/team/team2.jpg` alt="member img">
                </div><!-- /.member-img -->
                <div class="member__info">
                  <h5 class="member__name"><a href="doctors-single-doctor1.html">Dermatólogos</a></h5>
                  <p class="member__job">Especialista en Cardiología</p>
                  <p class="member__desc">Brian se especializa en el tratamiento de la piel, el cabello, las uñas y las mucosas. 
                    También aborda problemas estéticos, ayudando a revitalizar la apariencia de la piel.</p>
                  <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                    <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                      <span>Leer Mas</span>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                    <ul class="social-icons list-unstyled mb-0">
                      <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div>
                </div><!-- /.member-info -->
              </div><!-- /.member -->
              <!-- Member #3 -->
              <div class="member">
                <div class="member__img">
                  <img src=`${import.meta.env.BASE_URL}/imagen/team/team3.jpg` alt="member img">
                </div><!-- /.member-img -->
                <div class="member__info">
                  <h5 class="member__name"><a href="doctors-single-doctor1.html">Maria Andaloro</a></h5>
                  <p class="member__job"> Pediatra</p>
                  <p class="member__desc">Andaloro se graduó de la facultad de medicina y completó tres años de residencia en pediatría. 
                    Aprobó rigurosos exámenes de la Junta Americana de Pediatría.</p>
                  <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                    <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                      <span>Leer mas</span>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                    <ul class="social-icons list-unstyled mb-0">
                      <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div>
                </div><!-- /.member-info -->
              </div><!-- /.member -->
              <!-- Member #4 -->
              <div class="member">
                <div class="member__img">
                  <img src=`${import.meta.env.BASE_URL}/imagen/team/team4.jpg` alt="member img">
                </div><!-- /.member-img -->
                <div class="member__info">
                  <h5 class="member__name"><a href="doctors-single-doctor1.html">Dupree Black</a></h5>
                  <p class="member__job">Urólogo</p>
                  <p class="member__desc">Black diagnostica y trata enfermedades del tracto urinario tanto en hombres como en mujeres.
                    También diagnostica y trata cualquier enfermedad relacionada con el tracto reproductivo en los hombres.</p>
                  <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                    <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                      <span>Leer mas</span>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                    <ul class="social-icons list-unstyled mb-0">
                      <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div>
                </div><!-- /.member-info -->
              </div><!-- /.member -->
              <!-- Member #5 -->
              <div class="member">
                <div class="member__img">
                  <img src=`${import.meta.env.BASE_URL}/imagen/team/team5.jpg` alt="member img">
                </div><!-- /.member-img -->
                <div class="member__info">
                  <h5 class="member__name"><a href="doctors-single-doctor1.html">Markus skar</a></h5>
                  <p class="member__job">Laboratorio</p>
                  <p class="member__desc">Los análisis de sangre desempeñan un papel fundamental en el cuidado de su salud. 
                    El personal del laboratorio clínico se encarga de realizar pruebas que proporcionan información crucial.</p>
                  <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                    <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                      <span>Leer mas</span>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                    <ul class="social-icons list-unstyled mb-0">
                      <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div>
                </div><!-- /.member-info -->
              </div><!-- /.member -->
              <!-- Member #6 -->
              <div class="member">
                <div class="member__img">
                  <img src=`${import.meta.env.BASE_URL}/imagen/team/team6.jpg` alt="member img">
                </div><!-- /.member-img -->
                <div class="member__info">
                  <h5 class="member__name"><a href="doctors-single-doctor1.html">Kiano Barker</a></h5>
                  <p class="member__job">Patólogo </p>
                  <p class="member__desc">Barker ayuda a los pacientes a diario, brindándoles a sus médicos la información necesaria para garantizar una atención adecuada. 
                    También proporciona valiosos recursos para otros médicos.</p>
                  <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                    <a href="doctors-single-doctor1.html" class="btn btn__secondary btn__link btn__rounded">
                      <span>Leer mas</span>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                    <ul class="social-icons list-unstyled mb-0">
                      <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                    </ul><!-- /.social-icons -->
                  </div>
                </div><!-- /.member-info -->
              </div><!-- /.member -->
            </div><!-- /.carousel -->
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Team -->

    <!-- ======================
     Work Process 
    ========================= -->
    <section class="work-process work-process-carousel pt-130 pb-0 bg-overlay bg-overlay-secondary">
      <div class="bg-img"><img src={`${import.meta.env.BASE_URL}/imagen/1.jpg`} alt="background"></div>
      <div class="container">
        <div class="row heading-layout2">
          <div class="col-12">
            <h2 class="heading__subtitle color-primary">Cuidando la salud de usted y su familia.</h2>
          </div><!-- /.col-12 -->
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
            <h3 class="heading__title color-white">¡Ofrecemos todos los aspectos de la práctica médica para toda su familia!
            </h3>
          </div><!-- /.col-xl-5 -->
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-xl-1">
            <p class="heading__desc font-weight-bold color-gray mb-40">Trabajaremos con usted para desarrollar planes de atención individualizados, incluyendo el manejo de enfermedades crónicas. Si no podemos ayudarle, podemos derivarlo o asesorarlo sobre el tipo de profesional que necesita. 
              Tratamos todas sus consultas con la máxima confidencialidad y delicadeza.
            </p>
            <ul class="list-items list-items-layout2 list-items-light list-horizontal list-unstyled">
              <li>Fracturas y dislocaciones</li>
              <li>Evaluaciones de salud</li>
              <li>Inyecciones de desensibilización</li>
              <li>Atención de alta calidad</li>
              <li>Inyecciones de desensibilización</li>
            </ul>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="carousel-container mt-90">
              <div class="slick-carousel"
                data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "infinite":false, "arrows": false, "dots": false, "responsive": [{"breakpoint": 1200, "settings": {"slidesToShow": 3}}, {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                <!-- process item #1 -->
                <div class="process-item">
                  <span class="process__number">01</span>
                  <div class="process__icon">
                    <i class="fa-solid fa-laptop-medical"></i>
                  </div><!-- /.process__icon -->
                  <h4 class="process__title">Complete nuestra solicitud médica</h4>
                  <p class="process__desc">Medcity ofrece cobertura médica de bajo costo para adultos con ingresos limitados. Puedes inscribirte.</p>
                  <a href="#" class="btn btn__secondary btn__link">
                    <span>Horario de los médicos</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.process-item -->
                <!-- process-item #2 -->
                <div class="process-item">
                  <span class="process__number">02</span>
                  <div class="process__icon">
                    <i class="fa-solid fa-dna"></i>
                  </div><!-- /.process__icon -->
                  <h4 class="process__title">Revise su historial médico familiar</h4>
                  <p class="process__desc">Los exámenes de salud regulares pueden ayudar a detectar todos los problemas y también a detectarlos de forma temprana.</p>
                  <a href="#" class="btn btn__secondary btn__link">
                    <span>Iniciar un chequeo</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.process-item -->
                <!-- process-item #3 -->
                <div class="process-item">
                  <span class="process__number">03</span>
                  <div class="process__icon">
                    <i class="fa-solid fa-prescription-bottle"></i>
                  </div><!-- /.process__icon -->
                  <h4 class="process__title">Elija entre nuestros programas de atención</h4>
                  <p class="process__desc">Contamos con protocolos para proteger a nuestros pacientes y al mismo tiempo continuar brindando la atención necesaria.</p>
                  <a href="#" class="btn btn__secondary btn__link">
                    <span>Explorar programas</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.process-item -->
                <!-- process-item #4 -->
                <div class="process-item">
                  <span class="process__number">04</span>
                  <div class="process__icon">
                    <i class="fa fa-stethoscope" aria-hidden="true"></i>
                  </div><!-- /.process__icon -->
                  <h4 class="process__title">Presentamos a médicos altamente calificados</h4>
                  <p class="process__desc">Nuestro personal administrativo y de apoyo cuenta con habilidades excepcionales y está capacitado para ayudarle. </p>
                  <a href="#" class="btn btn__secondary btn__link">
                    <span>Conozca a nuestros médicos</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.process-item -->
                <!-- process-item #5 -->
                <div class="process-item">
                  <span class="process__number">05</span>
                  <div class="process__icon">
                    <i class="icon-head"></i>
                  </div><!-- /.process__icon -->
                  <h4 class="process__title">Su próximo proceso personalizado</h4>
                  <p class="process__desc">Nuestro personal administrativo y de soporte tiene habilidades excepcionales para ayudarlo.
                  </p>
                  <a href="#" class="btn btn__secondary btn__link">
                    <span>Conozca a nuestros médicos</span>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </a>
                </div><!-- /.process-item -->
              </div><!-- /.carousel -->
            </div>
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <div class="cta bg-light-blue">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-2 col-lg-2">
              <img src=`${import.meta.env.BASE_URL}/imagen/alert2.png` class="cta__img" alt="alert">
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-12 col-md-7 col-lg-7">
              <h4 class="cta__title">¡Verdadera atención médica para su familia!</h4>
                <p class="cta__desc">Servimos a la comunidad mejorando la calidad de vida a través de una mejor salud. 
                  Hemos implementado protocolos para proteger a nuestros pacientes y personal, a la vez que continuamos brindando la atención médica necesaria.
              </p>
            </div><!-- /.col-lg-7 -->
            <div class="col-sm-12 col-md-12 col-lg-3">
              <a href="appointment.html" class="btn btn__primary btn__secondary-style2 btn__rounded">
                <span>Programas de atención médica</span>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div><!-- /.col-lg-3 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.cta -->
    </section><!-- /.Work Process -->

    <!-- ========================= 
      Testimonials layout 2
      =========================  -->
    <section class="testimonials-layout2 pt-130 pb-40">
      <div class="container">
        <div class="testimonials-wrapper">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
              <div class="heading-layout2">
                <h3 class="heading__title">¡Historias inspiradoras!</h3>
              </div><!-- /.heading -->
            </div><!-- /.col-lg-5 -->
            <div class="col-sm-12 col-md-12 col-lg-7">
              <div class="slider-with-navs">
                <!-- Testimonial #1 -->
                <div class="testimonial-item">
                  <h3 class="testimonial__title">"Entre sus médicos se encuentran profesionales altamente cualificados con trayectorias diversas y diversas habilidades e intereses especiales. 
                    También cuentan con enfermeros titulados disponibles para gestionar cualquier urgencia, y tanto el personal administrativo como el de apoyo poseen un don de gentes excepcional."
                  </h3>
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #2 -->
                <div class="testimonial-item">
                  <h3 class="testimonial__title">“Sus médicos incluyen profesionales altamente cualificados con una amplia gama de trayectorias y diversas habilidades e intereses especiales. 
                    También cuentan con enfermeros titulados disponibles para gestionar cualquier urgencia, y tanto el personal administrativo como el de apoyo poseen excepcionales habilidades interpersonales.”
                  </h3>
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #3 -->
                <div class="testimonial-item">
                  <h3 class="testimonial__title">“Sus médicos incluyen profesionales altamente cualificados con una amplia gama de trayectorias y diversas habilidades e intereses especiales. 
                    También cuentan con enfermeros titulados disponibles para gestionar cualquier urgencia, y tanto el personal administrativo como el de apoyo poseen excepcionales habilidades interpersonales.”
                  </h3>
                </div><!-- /. testimonial-item -->
              </div><!-- /.slick-carousel -->
              <div class="slider-nav mb-60">
                <div class="testimonial__meta">
                  <div class="testimonial__thmb">
                    <img src=`${import.meta.env.BASE_URL}/imagen/testi/testi1.png` alt="author thumb">
                  </div><!-- /.testimonial-thumb -->
                  <div>
                    <h4 class="testimonial__meta-title">Sami Wade</h4>
                    <p class="testimonial__meta-desc">7oroof Inc</p>
                  </div>
                </div><!-- /.testimonial-meta -->
                <div class="testimonial__meta">
                  <div class="testimonial__thmb">
                    <img src=`${import.meta.env.BASE_URL}/imagen/testi/testi2.png` alt="author thumb">
                  </div><!-- /.testimonial-thumb -->
                  <div>
                    <h4 class="testimonial__meta-title">Ahmed</h4>
                    <p class="testimonial__meta-desc">Web Inc</p>
                  </div>
                </div><!-- /.testimonial-meta -->
                <div class="testimonial__meta">
                  <div class="testimonial__thmb">
                    <img src=`${import.meta.env.BASE_URL}/imagen/testi/testi3.png` alt="author thumb">
                  </div><!-- /.testimonial-thumb -->
                  <div>
                    <h4 class="testimonial__meta-title">Sonia Blake</h4>
                    <p class="testimonial__meta-desc">Web Inc</p>
                  </div>
                </div><!-- /.testimonial-meta -->
              </div><!-- /.slider-nav -->
            </div><!-- /.col-lg-7 -->
          </div><!-- /.row -->
        </div><!-- /.testimonials-wrapper -->
      </div><!-- /.container -->
    </section><!-- /.testimonials layout 2 -->

    <!-- ========================
       gallery
      =========================== -->
    <section class="gallery pt-0 pb-90">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "autoplay": true, "arrows": true, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
              <a class="popup-gallery-item" href=`${import.meta.env.BASE_URL}/imagen/gallery/1 (1).jpg`>
                <img src=`${import.meta.env.BASE_URL}/imagen/gallery/1 (1).jpg` alt="gallery img">
              </a>
              <a class="popup-gallery-item" href=`${import.meta.env.BASE_URL}/imagen/gallery/2.jpg`>
                <img src=`${import.meta.env.BASE_URL}/imagen/gallery/2.jpg` alt="gallery img">
              </a>
              <a class="popup-gallery-item" href=`${import.meta.env.BASE_URL}/imagen/gallery/3.jpg`>
                <img src=`${import.meta.env.BASE_URL}/imagen/gallery/3.jpg` alt="gallery img">
              </a>
              <a class="popup-gallery-item" href=`${import.meta.env.BASE_URL}/imagen/gallery/4.jpg`>
                <img src=`${import.meta.env.BASE_URL}/imagen/gallery/4.jpg` alt="gallery img">
              </a>
              <a class="popup-gallery-item" href=`${import.meta.env.BASE_URL}/imagen/gallery/5.jpg`>
                <img src=`${import.meta.env.BASE_URL}/imagen/gallery/5.jpg` alt="gallery img">
              </a>
              <a class="popup-gallery-item" href=`${import.meta.env.BASE_URL}/imagen/gallery/6.jpg`>
                <img src=`${import.meta.env.BASE_URL}/imagen/gallery/6.jpg` alt="gallery img">
              </a>
            </div><!-- /.gallery-images-wrapper -->
          </div><!-- /.col-xl-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.gallery 2 -->

    <!-- ==========================
        contact layout 3
    =========================== -->
    <section class="contact-layout3 bg-overlay bg-overlay-primary-gradient pb-60">
      <div class="bg-img"><img src=`${import.meta.env.BASE_URL}/imagen/baner3.jpg` alt="banner"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="contact-panel mb-50">
              <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="contact-panel__title">Reservar una cita</h4>
                    <p class="contact-panel__desc mb-30">No dude en contactar con nuestro amable personal de recepción para cualquier consulta general o médica. Nuestros médicos atenderán o responderán cualquier llamada urgente.
                    </p>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <i class="fa fa-puzzle-piece form-group-icon" aria-hidden="true"></i>
                      <select class="form-control">
                        <option value="0">Elija una Clínica</option>
                        <option value="1">Patologia</option>
                        <option value="2">Cardiologia</option>
                      </select>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <i class="fa fa-user form-group-icon" aria-hidden="true"></i>
                      <select class="form-control">
                        <option value="0">Elija un Doctor</option>
                        <option value="1">Ahmed Abdallah</option>
                        <option value="2">Mahmoud Begha</option>
                      </select>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <i class="fa fa-address-book form-group-icon" aria-hidden="true"></i>
                      <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name"
                        required>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <i class="fa fa-envelope form-group-icon" aria-hidden="true"></i>
                      <input type="email" class="form-control" placeholder="Email" id="contact-email"
                        name="contact-email" required>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                      <i class="fa fa-phone fa-flip-horizontal form-group-icon" aria-hidden="true"></i>
                      <input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                        name="contact-phone" required>
                    </div>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-date">
                      <i class="fa fa-calendar form-group-icon" aria-hidden="true"></i>
                      <input type="date" class="form-control" id="contact-date" name="contact-date" required>
                    </div>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-date">
                      <i class="fa fa-clock-o form-group-icon" aria-hidden="true"></i>
                      <input type="time" class="form-control" id="contact-time" name="contact-time" required>
                    </div>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-12">
                    <button type="submit" class="btn btn__secondary btn__rounded btn__block btn__xhight mt-10">
                      <span>Book Appointment</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                    <div class="contact-result"></div>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
              </form>
            </div>
          </div><!-- /.col-lg-7 -->
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="heading heading-light mb-30">
              <h3 class="heading__title mb-30">¡¡¡Ayudando a pacientes de todo el mundo!!!</h3>
              <p class="heading__desc">Nuestro personal se esfuerza por que cada interacción con los pacientes sea clara, concisa y atractiva. 
                Apoye la importante labor del Hospital Medicsh haciendo una donación muy necesaria hoy.
              </p>
            </div>
            <div class="d-flex align-items-center">
              <a href="contact-us.html" class="btn btn__white btn__rounded mr-30">
                <i class="fas fa-heart"></i> <span>Haz un regalo</span>
              </a>
              <a class="video__btn video__btn-white popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                <div class="video__player">
                  <i class="fa fa-play"></i>
                </div>
                <span class="video__btn-title color-white">Play Video</span>
              </a>
            </div>
            <div class="text__block">
              <p class="text__block-desc color-white font-weight-bold">Ofrecemos una amplia gama de planes para familias e individuos en cada etapa de la vida, con límites anuales que van desde £1.5 millones hasta ilimitados.</p>
              <div class="sinature color-white">
                <span class="font-weight-bold">Martin Qube</span><span>, Gerente de Medcity</span>
              </div>
            </div><!-- /.text__block -->
            <div class="slick-carousel clients-light mt-20"
              data-slick='{"slidesToShow": 3, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 3}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
              <div class="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/1.png` alt="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/1.png` alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/2.png` alt="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/2.png` alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/3.png` alt="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/3.png` alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/4.png` alt="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/4.png` alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/5.png` alt="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/5.png` alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/6.png` alt="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/6.png` alt="client">
              </div><!-- /.client -->
              <div class="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/7.png` alt="client">
                <img src=`${import.meta.env.BASE_URL}/imagen/clientes/7.png` alt="client">
              </div><!-- /.client -->
            </div><!-- /.carousel -->
          </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.contact layout 3 -->

    <!-- ======================
      Blog Grid
    ========================= -->
    <section class="blog-grid pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading text-center mb-40">
              <h2 class="heading__subtitle">Resource Library</h2>
              <h3 class="heading__title">Artículos recientes</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <!-- Post Item #1 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="post-item">
              <div class="post__img">
                <a href="blog-single-post.html">
                  <img src=`${import.meta.env.BASE_URL}/imagen/blog/blog1.jpg` alt="post image" loading="lazy">
                </a>
              </div><!-- /.post__img -->
              <div class="post__body">
                <div class="post__meta-cat">
                  <a href="#">Salud mental</a>
                </div><!-- /.blog-meta-cat -->
                <div class="post__meta d-flex">
                  <span class="post__meta-date">Jan 30, 2022</span>
                  <a class="post__meta-author" href="#">Martin King</a>
                </div>
                <h4 class="post__title"><a href="#">6 consejos para proteger tu salud mental cuando estás enfermo</a></h4>

                <p class="post__desc">Es normal sentir ansiedad, preocupación y dolor cada vez que te diagnostican una afección que es indudablemente cierta si das positivo en la prueba de COVID-19, o se presume que lo eres...
                </p>
                <a href="blog-single-post.html" class="btn btn__secondary btn__link btn__rounded">
                  <span>Leer mas</span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div><!-- /.post__body -->
            </div><!-- /.post-item -->
          </div><!-- /.col-lg-4 -->
          <!-- Post Item #2 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="post-item">
              <div class="post__img">
                <a href="blog-single-post.html">
                  <img src=`${import.meta.env.BASE_URL}/imagen/blog/blog2 .jpg` alt="post image" loading="lazy">
                </a>
              </div><!-- /.post__img -->
              <div class="post__body">
                <div class="post__meta-cat">
                  <a href="#">Infeccioso</a><a href="#">Tips</a>
                </div><!-- /.blog-meta-cat -->
                <div class="post__meta d-flex">
                  <span class="post__meta-date">30 de enero de 2022</span>
                  <a class="post__meta-author" href="#">John Ezak</a>
                </div>
                <h4 class="post__title"><a href="#">¿No estás seguro de usar mascarilla? Aquí te explicamos cómo y por qué.</a></h4>
                <p class="post__desc">Eso significa que debes seguir cumpliendo con las órdenes de confinamiento en tu comunidad. Pero cuando vayas al supermercado, a la farmacia o al hospital...
                </p>
                <a href="blog-single-post.html" class="btn btn__secondary btn__link btn__rounded">
                  <span>Leer mas</span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div><!-- /.post__body -->
            </div><!-- /.post-item -->
          </div><!-- /.col-lg-4 -->
          <!-- Post Item #3 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="post-item">
              <div class="post__img">
                <a href="blog-single-post.html">
                  <img src=`${import.meta.env.BASE_URL}/imagen/blog/blog3.jpg` alt="post image" loading="lazy">
                </a>
              </div><!-- /.post__img -->
              <div class="post__body">
                <div class="post__meta-cat">
                  <a href="#">Estilo de vida</a><a href="#">Nutrición</a>
                </div><!-- /.blog-meta-cat -->
                <div class="post__meta d-flex">
                  <span class="post__meta-date">Jan 28, 2022</span>
                  <a class="post__meta-author" href="#">Saul Wade</a>
                </div>
                <h4 class="post__title"><a href="#">Consejos para comer sano cuando trabajas desde casa</a></h4>

                <p class="post__desc">It’s normal to feel anxiety, worry and grief any time you’re diagnosed with a
                  condition that’s certainly true if you test positive for COVID-19, or are presumed to be positive...
                </p>
                <a href="blog-single-post.html" class="btn btn__secondary btn__link btn__rounded">
                  <span>Leer mas</span>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div><!-- /.post__body -->
            </div><!-- /.post-item -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.blog Grid -->

    <!-- ========================
      Footer
    ========================== -->
    <footer class="footer">
      <div class="footer-primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="footer-widget-about">
                <img src=`${import.meta.env.BASE_URL}/imagen/logo-light.png` alt="logo" class="mb-30">
                <p class="color-gray">Nuestro objetivo es brindar atención de calidad con cortesía, respeto y compasión. Esperamos que nos permita atenderlo y nos esforzamos por ser la primera y mejor opción para la atención médica de su familia.
                </p>
                <a href="appointment.html" class="btn btn__primary btn__primary-style2 btn__link">
                  <span>Hacer cita</span> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1">
              <div class="footer-widget-nav">
                <h6 class="footer-widget__title">Departamentos</h6>
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#">Neurologia</a></li>
                    <li><a href="#">Cardiologia</a></li>
                    <li><a href="#">Patología</a></li>
                    <li><a href="#">laboratorio</a></li>
                    <li><a href="#">Pediatria</a></li>
                    <li><a href="#">Cardiaca</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="footer-widget-nav">
                <h6 class="footer-widget__title">Links</h6>
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Nuestras Especialidades</a></li>
                    <li><a href="#">Nuestros Doctores</a></li>
                    <li><a href="#">Noticias y medios</a></li>
                    <li><a href="#">Equipo</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="footer-widget-contact">
                <h6 class="footer-widget__title color-heading">Contactos rápidos</h6>
                <ul class="contact-list list-unstyled">
                  <li>Si tiene alguna pregunta o necesita ayuda, no dude en ponerse en contacto con nuestro equipo.</li>
                  <li>
                    <a href="tel:01061245741" class="phone__number">
                      <i class="fa fa-phone-square" aria-hidden="true"></i> <span>01061245741</span>
                    </a>
                  </li>
                  <li class="color-body">2307 Beverley Rd Brooklyn, New York 11226 United States.</li>
                </ul>
                <div class="d-flex align-items-center">
                  <a href="contact-us.html" class="btn btn__primary btn__link mr-30">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Direccion</span>
                  </a>
                  <ul class="social-icons list-unstyled mb-0">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul><!-- /.social-icons -->
                </div>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-primary -->
      <div class="footer-secondary">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <span class="fz-14">&copy; 2025 ALOSISTEMAS, todos los derechos reservados.</span>
              <a class="fz-14 color-primary" href="http://themeforest.net/user/7oroof">7oroof.com</a>
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
              <nav>
                <ul class="list-unstyled footer__copyright-links d-flex flex-wrap justify-content-end mb-0">
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Política de privacidad</a></li>
                  <li><a href="#">Cookies</a></li>
                </ul>
              </nav>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-secondary -->
    </footer><!-- /.Footer -->
    <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>
  </div><!-- /.wrapper -->

  <script src={`${import.meta.env.BASE_URL}/js/jquery-3.5.1.min.js`} defer></script>
  <script src={`${import.meta.env.BASE_URL}/js/plugins.js`} defer></script>
  <script src={`${import.meta.env.BASE_URL}/js/main.js`} defer></script>
</body>

</html>
